<form [formGroup]="mathForm">
  <!-- Different ways of accessing value
    {{ mathForm.controls['a'].value }}
{{ mathForm.controls['a'] }}
{{ mathForm.get('a') }} 
  {{ mathForm.value.a }}  -->
  <div class="equation">{{ a }} + {{ b }} =</div>
  <input appAnswerHighlight formControlName="answer" />
</form>
<div class="stats">
  {{ secsPerSolution | number: "1.1-3" }}
</div>

<hr />
<div>Form is valid: {{ mathForm.valid }}</div>
<div>Form values is: {{ mathForm.value | json }}</div>
<div>Form errors: {{ mathForm.errors | json }}</div>
